<container>
    <row class="footer">
        <columns class="k_logo" small="2" large="1">
            <img src="{{root}}/assets/img/kayak_files/logo_circle.png" class="footer_logo"/>
        </columns>
        <columns class="footer_para" small="4" large="7">
                    <p class="footer_para_1">Download the app</p>
                    <p class="footer_para_2">Cheap flights, hotels and more</p>
        </columns>
        <columns class="apple_logo" small="3" large="2">
            <img src="{{root}}/assets/img/kayak_files/appstore.png" class="footer_apple"/>
        </columns>
        <columns class="android_logo" small="3" large="2">
            <img src="{{root}}/assets/img/kayak_files/playstore.png" class="footer_android"/>
        </columns>
    </row>
</container>

<container>
    <row class="footer_menu">
        <columns class="footer_menu_logo_orange" small="6" large="6">
            <img src="{{root}}/assets/img/kayak_files/logo_orange.png" class="footer_logo_orange"/>
        </columns>

        <columns class="text-right" small="6" large="6">
            <row>
                <columns class="footer_menu_social_icons">
                    <img src="{{root}}/assets/img/kayak_files/facebook.png" class="facebook_logo"/>
                    <img src="{{root}}/assets/img/kayak_files/twitter.png" class="twitter_logo"/>
                    <img src="{{root}}/assets/img/kayak_files/instagram.png" class="instagram_logo"/>
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer_submenu">
        <columns style="width: 90%;">
            <row>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/airplane.png" class="icons"/>Flights</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/bed.png" class="icons"/>Hotels</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/car.png" class="icons"/>Cars</a>
                </columns>
                <columns class="show-for-large" style="width: 1%;">
                    <span class="menu-divider"></span>
                </columns>
                <columns small="4" large="3" class="show-for-large">
                    <a href="#" class="text-center"><img src="{{root}}/assets/img/kayak_files/umbrella.png" class="icons"/>Packages</a>
                </columns>
            </row>
        </columns>
    </row>
</container>

<container>
    <row class="footer_bottom">
        <columns style="width: 10%;">
            <spacer size="35"></spacer>
            <row>
                <columns small="1" large="1">
                </columns>
                
                <columns small="2" large="2">
                    <a href="#">Unsubscribe</a>
                </columns>
        
                <columns small="2" large="2">
                    <a href="#">Email Preferences</a>
                </columns>
        
                <columns small="2" large="2">
                    <a href="#"> Feedback</a>
                </columns>
        
                <columns small="2" large="2">
                    <a href="#">Privacy Policy</a>
                </columns>
        
                <columns small="1" large="1">
                </columns>
            </row>

            <row class="footer_bottom_paragraph">
                <columns>
                    <row>
                        <columns>
                            <p>
                                Pricing is the process whereby a business sets the price at which it will sell its products and services, and may be part of the business's marketing plan. In setting prices, the business will take into account the price at which it could acquire the goods, the manufacturing cost, the marketplace, competition, market condition, brand, and quality of product.
            
                                Pricing is a fundamental aspect of financial modeling and is one of the four Ps of the marketing mix, the other three aspects being product, promotion, and place. Price is the only revenue generating element amongst the four Ps, the rest being cost centers. However, the other Ps of marketing will contribute to decreasing price elasticity and so enable price increases to drive greater revenue and profits.
            
                                Pricing can be a manual or automatic process of applying prices to purchase and sales orders, based on factors such as: a fixed amount, quantity break, promotion or sales campaign, specific vendor quote, price prevailing on entry, shipment or invoice date, combination of multiple orders or lines, and many others. Automated pricing systems require more setup and maintenance but may prevent pricing errors. The needs of the consumer can be converted into demand only if the consumer has the willingness and capacity to buy the product. Thus, pricing is the most important concept in the field of marketing, it is used as a tactical decision in response to changing competitive, market and organisational situations.
                            </p>
                            <row>
                                <columns>
                                    <span class="corporation_logo">&copy;</span>
                                    <span class="footer_base_1">2019 KAYAK SOFTWARE CORPORTATION</span>
                                    <span class="footer_base_2">7 Market Street Stamford, CT 06902-5810 US</span>
                                </columns>
                            </row>
                        </columns>
                    </row>
                </columns>
            </row>
        </columns>
    </row>
</container>